<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is used from the webservice/test subdirectory
   therefore the resource references have to be relative to that base directory.
-->
<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
   <wsdl location="resources/interop/microsoft/mtom/utf8/WEB-INF/wsdl/MtomUtf8.wsdl"
         packageName="org.jboss.test.ws.interop.microsoft.mtom.utf8"/>
</configuration>