#
# A sample ant properties file
#
# $Id$

# Optional JBoss Home
#jboss50.home=/home/tdiesler/svn/jbossas/trunk/build/output/jboss-5.0.0.Beta3
#jboss42.home=/home/tdiesler/svn/jbossas/branches/Branch_4_2/build/output/jboss-4.2.0.GA
#jboss40.home=/home/tdiesler/svn/jbossas/branches/Branch_4_0/build/output/jboss-4.0.5.SP1-ejb3

# The JBoss server under test. This can be [jboss50|jboss42|jboss40|tomcat]
jbossws.integration.target=jboss50

# The JBoss server instance
jboss.server.instance=default

# Optional Tomcat Home
#tomcat.home=/usr/java/tomcat
tomcat.manager.username=manager
tomcat.manager.password=manager

# Hudson QA Environment
hudson.username=changeme
hudson.password=changeme

hudson.root=/home/tdiesler/workspace
hudson.host=jbws.dyndns.org
hudson.port=8180

hudson.jdk15=/usr/java/jdk1.5
hudson.jdk14=/usr/java/jdk1.4

hudson.jbossws-spi.url=https://svn.jboss.org/repos/jbossws/projects/wsintegration/jbossws-spi/trunk
hudson.jbws-jboss50.url=https://svn.jboss.org/repos/jbossws/projects/wsintegration/jbws-jboss50/trunk
hudson.jbws-jboss42.url=https://svn.jboss.org/repos/jbossws/projects/wsintegration/jbws-jboss42/trunk
hudson.jbws-jboss40.url=https://svn.jboss.org/repos/jbossws/projects/wsintegration/jbws-jboss40/trunk
hudson.jbws-tc55.url=https://svn.jboss.org/repos/jbossws/projects/wsintegration/jbws-tc55/trunk

hudson.jboss50.url=https://svn.jboss.org/repos/jbossas/trunk
hudson.jboss50.build=jboss-5.0.0.Beta3
hudson.jboss50.rev=HEAD

hudson.jboss42.url=https://svn.jboss.org/repos/jbossas/branches/Branch_4_2
hudson.jboss42.build=jboss-4.2.0.GA
hudson.jboss42.rev=HEAD

hudson.jboss40.url=https://svn.jboss.org/repos/jbossas/branches/Branch_4_0
hudson.jboss40.build=jboss-4.0.5.SP1
hudson.jboss40.rev=HEAD

hudson.mail.recipients=thomas.diesler@jboss.com, heiko.braun@jboss.com, alejandro.guizar@jboss.com
hudson.smtp.host=mail.navisite.com

# JBoss Repository
#jboss.repository=file:/home/tdiesler/svn/repository.jboss.org
jboss.repository=http://repository.jboss.org

# JBossWS Release
jbossws.portal.content=/home/tdiesler/svn/jbossws/portal-content
jboss.local.repository=/home/tdiesler/svn/repository.jboss.org

# Force thirdparty HTTP get
#force.thirdparty.get=true

# Java Compiler options
javac.debug=yes
javac.deprecation=yes
javac.fail.onerror=yes
javac.verbose=no

# Use the eclipse compiler to allow for hot code swapping
# http://www.jboss.org/index.html?module=bb&op=viewtopic&t=65783
# build.compiler=org.eclipse.jdt.core.JDTCompilerAdapter

