#
# A sample ant properties file
#
# $Id$

# Optional JBoss Home
#jboss50.home=/home/tdiesler/svn/jbossas/trunk/build/output/jboss-5.0.0.Beta3
#jboss42.home=/home/tdiesler/svn/jbossas/branches/Branch_4_2/build/output/jboss-4.2.0.GA
#jboss40.home=/home/tdiesler/svn/jbossas/branches/Branch_4_0/build/output/jboss-4.0.5.SP1-ejb3

# The JBoss server under test. This can be [jboss50|jboss42|jboss40|tomcat]
jbossws.integration.target=jboss50

# The JBoss server instance
jboss.server.instance=default
jboss.bind.address=localhost

# JBoss Repository
#jboss.repository=file:/home/tdiesler/svn/repository.jboss.org
jboss.repository=http://repository.jboss.org

# JBossWS Release
jbossws.portal.content=/home/tdiesler/svn/jbossws/portal-content
jboss.local.repository=/home/tdiesler/svn/repository.jboss.org

# Force thirdparty HTTP get
#force.thirdparty.get=true

# Java Compiler options
javac.debug=yes
javac.deprecation=yes
javac.fail.onerror=yes
javac.verbose=no
