# JBossWS samples build properties
#

# Required JBoss Home
jboss50.home=@jboss50.home@
jboss42.home=@jboss42.home@
jboss40.home=@jboss40.home@

# The JBoss server under test. This can be [jboss50|jboss42|jboss40|tomcat]
jbossws.integration.target=jboss42

# The JBoss server instance
jboss.server.instance=default

# Tomcat Home
tomcat.home=/usr/java/tomcat
tomcat.manager.username=manager
tomcat.manager.password=manager

# JBoss Repository
jboss.repository=@jboss.repository@

# Force thirdparty HTTP get
#force.thirdparty.get=true

# Java Compiler options
javac.debug=yes
javac.deprecation=yes
javac.fail.onerror=yes
javac.verbose=no
